<div class="my-3">
    <h2>Form Event</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add</div>
                <span class="card-body"><button #addBtn class="btn btn-primary">Add Video</button></span>
                <span class="card-body"><button #addBtn2 class="btn btn-primary">Add Photo</button></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List Video </div>
                <div class="card-body">
                    <ul id="eleadd"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List Photo</div>
                <div class="card-body">
                    <ul id="eleadd2"></ul>
                </div>
            </div>
        </div>
    </div>
</div>